.footer {
  padding: 7.5rem;
  background: url(../../images/swirl.png) no-repeat #000;
  background-size: conatain;
  background-position: bottom center;
  .footerWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    a {
      padding: 2.4rem;
    }
  }
  h2 {
    color: #fff;
    text-align: center;
  }
}
