.image {
  margin-bottom: 7.5rem;
  border: 1px solid #ececec;

  img {
    width: 100%;
    display: block;
    -webkit-box-shadow: 0px 0px 25px 0px #b8b8b8;
    -moz-box-shadow: 0px 0px 25px 0px #b8b8b8;
    box-shadow: 0px 0px 25px 0px #b8b8b8;
  }
}

.no-pop {
  .image {
    border: none;

    img {
      box-shadow: none;
    }
  }
}
