.experience {
  padding: 7.5rem;
  h2 {
    color: #d70a84;
    text-align: center;
  }

  .expWrap {
    display: flex;
    width: 75%;
    margin: 2.4rem auto;
  }
  .expItem {
    margin: 1.2rem;
    img {
      margin: 1rem 0 2.4rem;
    }
    .expDate {
      font-size: 1.8rem;
      color: #d70a84;
      border-bottom: 1px solid #d70a84;
    }
    h4 {
      font-size: 1.8rem;
      font-weight: 800;
      color: #d70a84;
      padding: 1.2rem 0;
    }
    p {
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 1.3;
    }
  }
}
